<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<style>
    body{
        background-color: cornflowerblue;
        font-family: Arial;
        font-size: 17px;
    }

    button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
<body>
<form method="post">
    {% csrf_token %}
        <label for="username">Please enter your username or email:</label>
        <input id="username" name="username" type="text">
    <br>
        <label for="password">Please enter your Password:</label>
        <input id="password" name="password" type="password">
    <br>
        <button type="submit">Submit</button>
</form>

</body>
</html>